$gray: #faf5f3;
$gray-lt: lighten( $gray, 10% );
$gray-dk: darken( $gray, 10% );
$green: #7aada5;
$green-lt: lighten( $green, 10% );
$green-dk: darken( $green, 10% );

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/form-bk.jpg") no-repeat center center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

form {
  background: $gray;
  width: 280px;
  margin-top: 80px;
  margin-bottom: 50px;
  position: absolute;
  z-index: 10;
  padding: 90px 60px 100px 60px;
  left: 50%;
  margin-left: -230px;
  opacity: 0.85;
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: darken( #4e3332, 10% );
    letter-spacing: 0.061em;
    margin-top: 60px;
    margin-bottom: 20px;
  
  }

  input { 
    display: flex;
    justify-content: center;  
    width: 100%; 
    background: #fff;
    text-align: center;
    margin-top: 85px;
    box-shadow: none;
    appearance: none;
    border: none;
    border-top: 1px solid  rgb(102, 91, 91);
    border-left: 1px solid  rgb(102, 91, 91);
    border-right: 1px solid  rgb(102, 91, 91);
    border-bottom: 1px solid  rgb(102, 91, 91);
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
    &:focus {
      border: 1px solid $gray-dk;
      outline: none;
      appearance: none;
    }
  } 
  textarea { 
    display: flex;
    justify-content: center;   
    width: 100%; 
    background: #fff;
    text-align: center;
    // margin-top: 25px;
    box-shadow: none;
    appearance: none;
    border: none;
    border-top: 1px solid  rgb(102, 91, 91);
    border-left: 1px solid rgb(102, 91, 91);
    border-right: 1px solid  rgb(102, 91, 91);
    border-bottom: 1px solid  rgb(102, 91, 91);
    padding-top: 18px;
    padding-bottom: 18px;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
    &:focus {
      border: 1px solid $gray-dk;
      outline: none;
      appearance: none;
    }
  }   
 
  .submit {
      
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.1em;
    text-align: center;
    cursor: pointer;
    background: #ec7242;
    color: #fff;
    width: 103%;
    transition: 0.8s all ease;
    &:hover {
      background: #d6673c;
      transform: translateY(1px);
      transition: 0.4s all ease;
    }
  }
}
#firstname { margin-top: 20px; }

.circle {
  padding: 15px;
  height: 25px;
  width: 25px;
  margin-top: -80px;
  margin-left: 115px;
  position: absolute;
  z-index: 20;
  border-radius: 50%;
  clear: both;
  opacity: 0.8;
}

.circle-quill {
  border: 1px solid $gray-dk;
  background: #fff;
}

.circle-paper {
  border: 1px solid $green-lt;
  background: $green-dk;
}

.submit-under, .loader, .loader2, .circle-paper, p.success-dialog, h2.success {
  visibility: hidden;
}

.submit-under {
  background: #8c6e7a;
  width: 291px;
  height: 45px;
  margin-top: -40px;
  margin-left: -4px;
  position: absolute;
  z-index: -1;
}

.loader, .loader2 {
  position: absolute;
  z-index: -5;
  margin-top: -45px;
  margin-left: 114px;
}

p{
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}


.bloc{
    display: block;
    background-color: white;
    position: relative;
    top: 100px;
    padding: 100px;
    width: 30%;

    div{
        a{  position: relative;
            top: 40px;
            left: -23px;
            padding-top: 12px;
            padding-bottom: 12px;
            border: none;
            text-transform: uppercase;
            font-size: 11px;
          
            z-index: 500;
            letter-spacing: 0.1em;
            text-align: center;
            cursor: pointer;
            background: #ec7242;
            color: #fff;
            width: 100%;
            transition: 0.8s all ease;
            &:hover {
              background: #d6673c;
              transform: translateY(1px);
              transition: 0.4s all ease;
            }
        }
    }
    a {
        text-decoration: none;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        text-transform: uppercase;
        font-size: 11px;
        position: relative;
        z-index: 500;
        letter-spacing: 0.1em;
        text-align: center;
        cursor: pointer;
       
        color: blue;
        width: 150px;
        transition: 0.8s all ease;
        &:hover {
          background: #d6673c;
          transform: translateY(1px);
          transition: 0.4s all ease;
        }
    }
  

    h1{
        text-align: center;
       position: relative;
       top: -50px;

    }
    ul{
        text-align: center;
        // margin-top: 300px;
        
        li{
            list-style: none;
            display: flex;
            justify-content: space-around;
            a:first-child{
                text-decoration: none;
                // margin-right: 100px;
                // padding: 30p;
                text-align: center;
                color: black;
            }
            a:nth-child(2){
                text-decoration: none;
                text-align: center;
                font-weight: bold;


            }
            a:nth-child(3){
                text-decoration: none;
                font-weight: bold;

            }
        }
    }
}



.blocArticle{
    display: block;
    background-color: white;
    position: relative;
    top: 100px;
    padding: 100px;
    width: 30%;

   

    h1{
        text-align: center;
       position: relative;
       top: -50px;

    }
    .lien{
        padding-top: 150px;
        display: flex;
        justify-content: space-around;
    
        a {
            text-decoration: none;
            padding-top: 12px;
            padding-bottom: 12px;
            border: none;
            text-transform: uppercase;
            font-size: 11px;
            position: relative;
            z-index: 500;
            letter-spacing: 0.1em;
            text-align: center;
            cursor: pointer;
            background: #ec7242;
            color: #fff;
            width: 150px;
            transition: 0.8s all ease;
            &:hover {
              background: #d6673c;
              transform: translateY(1px);
              transition: 0.4s all ease;
            }
          }
    }
   
    
}




